{{ $p := .item }}

<div>

  <!-- Authors -->
  {{ with $p.Params.authors }}
    <div>
      {{ delimit . ", " }}
    </div>
  {{ end }}

  <!-- Title -->
  <div>
    <strong>{{ $p.Title }}</strong>
  </div>

  <!-- Publication (Journal/Conference) -->
  {{ with $p.Params.publication }}
    <div style="font-style: italic;">
      {{ . | markdownify }}
    </div>
  {{ end }}

  <!-- Year -->
  {{ with $p.Params.date }}
    <div>
      {{ time.Format "2006" . }}
    </div>
  {{ end }}

  <!-- Publication Type (optional) -->
  {{ with $p.Params.publication_types }}
    <div>
      {{ delimit . ", " }}
    </div>
  {{ end }}

</div>
