// Make page header alignment consistent with widget page header alignment
//.universal-wrapper h1 {
//  text-align: center;
//}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}


@import "designGlobal";

@import "_hero_home";
@import "navigation";
@import "appliedAI";
@import "team";
@import "research";
@import "students";
@import "contact";


/* Research Projects */
.article-container,
.prose,
.prose-lg {
  max-width: 1200px !important;
}

/* Applied AI-Lab (page type) */
body.page-appliedai .container {
  max-width: 1200px !important;
}

/*.navbar-nav .nav-link {
  font-size: 28px;
}*/

.navbar-nav .nav-link {
  font-size: clamp(12px, 1.2vw, 25px);
}

.navbar-nav {
  margin-left: auto !important;
  gap: 25px;
}

.navbar-brand img {
  max-height: 45px;
  width: auto;
}

