// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}


@import "_hero_home";
@import "navigation";
@import "appliedAI";
@import "news";
@import "team";
@import "research";
@import "students";
@import "publications";
@import "contact";

/* Research Projects */
.article-container,
.prose,
.prose-lg {
  max-width: 1200px !important;
}

/* Applied AI-Lab (page type) */
body.page-appliedai .container {
  max-width: 1200px !important;
}

.navbar-nav .nav-link {
  font-size: 28px;
}
